{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}


<!-- Название у нас будет ... -->
{% block content %}
    {% if is_not_author %}
        <button><a href="{% url 'upgrade' %}">Стать автором</a></button>
    {% endif %}
{% if posts %}
<h2> Количество постов {{ posts|length }}</h2>
<h3>{% current_time '%b %d %Y' %}</h3>

<table width="110%" style="margin-top: 35px">
       <tr> <!-- Если вы хотите поместить ячейки столбцов в строчку, то открываете тег tr (TableRow) и в него добавляете ячейки (тег td) с содержанием того, что вам надо вывести.-->
            <td><h4><u>Заголовок</u></h4></td>
            <td><h4><u>Дата и автор публикации</u></h4></td>
            <td><h4><u>Содержание</u></h4></td>
            <td><h4><u>Рейтинг</u></h4></td>
            <td><h4><u> Категория </u></h4></td>
           {% if perms.news.add_post or perms.news.delete_post %}
           <td><h4><u>Действия</u></h4></td>
           {% endif %}
        </tr>
    {% for post in posts %}
    <tr>
        <style type="text/css">
  td {
    padding: 0 20px;
  }
</style>
        <td>{{ post.title }}</td>
        <td>{{ post.post_time|date:'d M Y'}} - {{ post.author }}</td>
        <td>{{ post.text|truncatewords:20|censor }}<a href="{% url 'post' post.id %}">Подробнее</a></td>

        <td>{{ post.rating }}</td>
        {% for cat in post.category.all %}
        <td>{{ cat.category_name }}</td>
        {% endfor %}
         <td>
            {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
            {% if perms.news.add_post or perms.news.delete_post %}
            <a href="{% url 'news_edit' post.id %}">Изменить</a>
            {% endif %}
            {% if perms.news.add_post or perms.news.delete_post %}
            <a href="{% url 'news_delete' post.id %}">Удалить</a>
            {% endif %}
            {% comment %}<hr>{% endcomment %}
        </td>
        </tr>
    {% endfor %}
</table>
{% else %}
<h3>Публикаций нет!</h3>
{% endif %}
   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}