{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %} <!-- Загружаем теги с переводами, без этой строки ничего не будет работать -->

{% block content %}
{% if post %}
<table width="100%" style="margin-top: 35px">
    <tr>
        <td><u>{% trans "Heading" %}</u></td>
        <td><u>{% trans "Date" %}</u></td>
        <td><u>{% trans "Content" %}</u></td>
        <td><u>{% trans "Rating" %}</u></td>
        <td><u>{% trans "Category" %}</u></td>
    </tr>
    <tr>
        <td>{{ post.title }}</td>
        <td>{{ post.post_time|date:'d M Y' }}</td>
        <td>{{ post.text|censor}}</td>     <!--|censor-->
        <td>{{ post.rating }}</td>
        {% for cat in post.category.all %}
        <td>{{ cat.category_name }}</td>
        {% endfor %}
    </tr>
</table>
{% else %}
<h3>{% trans "There are no publications!" %}"</h3>
{% endif %}
{% endblock content %}


